/* font family */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}


/*  header styles starts here--------------------------------------*/
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
   
    min-height: 600px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 600px;
    /* margin-top: 170px; */
}
.banner-content p, h1{
    color: white;

}
.banner-content p{
    font-size: 32px;
    font-weight: 400px;
    margin-bottom: 16px;



}
.banner-content h1{
    Font-weight: 900px;
    Font-size: 72px;

}

/* second-section- starts here */

.second-section-container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-section-content h1{
    margin-bottom: 48px;
    Font-weight:700px;
    font-size: 80px;
    color: rgb(255, 0, 0);
}
.second-section-content p{
    Font-weight: 500px;
    font-size: 25px;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    margin-bottom: 48px;
    Font-weight:700px;
    font-size: 50px;
    
}
.second-section-img-container{
    border: 1px black;
    border-style: dashed;
}
.second-section-img-container img{
    width: 100%;
    height: 100%;

}

/* midnight party section starts here------------------ */

.midnight-banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    border-radius: 16px;
   
    margin-top: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(/images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}
.midnight-banner-content{
     width: 50%;
     margin-left: 120px;

}
/* .midnight-banner-content{

} */
.midnight-banner-content h1{
    
    color: rgb(255, 255, 255); 
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
    
}
.midnight-banner-content p{
    
    color: rgba(255, 255, 255, 0.8); 
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-top: 48px;
    
}
/* .midnight-banner-img{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

} */